body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box:hover {
 color: tomato;
 text-decoration: underline tomato;
}

.reactBox{
  float: left;
}
.reactBox:hover {
    transform: scale(1.1);
}

.Navbar{
  position: -webkit-sticky;
  position: sticky;
    top: 0;
    background-color: white;
    overflow: hidden;
}

